<div id="home" class="page" data-ng-init="init()">
  <div class="home-header">
    <div class="pure-g">
      <div class="pure-u-1-3"></div>
      <div class="pure-u-1-3"></div>
      <div class="pure-u-1-3"></div>
    </div>
  </div>

  <div class="home-event">
    <div class="home-event-top">
      <div class="pure-g">
        <div class="pure-u-1-3 home-etop-date">aujourd'hui<br>20:00</div>
        <div class="pure-u-1-3 home-etop-pic">
          <img src="img/profile.jpg">
        </div>
        <div class="home-etop-map">
          <img src="img/repere-BM.png">
        </div>
      </div>
    </div>
    <div class="home-event-bottom">
      <div class="home-ebot-name">Frank Bassard</div>
      <div class="home-ebot-content">Un petit exemple comme un autre, avec plusieurs lignes et quelques hashtags useless __ <span class="event-tags">#hey #bleu #!?</span></div>
    </div>
  </div>

  <div class="home-month-split">aout</div>
</div>
