<div id="login3" class="page" data-ng-init="">
  <div id="login3-header"></div>
  <img id="login3-logo" src="img/White-Logo.png">
  <div id="login3-brand">{{labels.brand}}</div>
  <div id="login3-center-block">
    <div id="login3-explain">{{labels.explain}}</div>
    <div id="login3-email">{{email}}</div>
    <input id="login3-nickname" type="text" focus="true" placeholder="{{labels.placeholder}}" ng-model="nickname">
    <div class="pure-g">
	    <div class="pure-u-1-2">
	    	<div id="login3-back" ng-click="back()">{{labels.back}}</div>
	    </div>
	    <div class="pure-u-1-2">
	    	<div id="login3-next" ng-click="next()">{{labels.next}}</div>
	    </div>
	</div>
  </div>
</div>
