<div id="login" class="page" data-ng-init="init()">
  <img id="login-picture" src="img/Orange-Logo.png">
  <div id="login-app-title"><h2>{{labels.appName}}</h2></div>
  <div id="login-app-sub">{{labels.appSub}}</div>

  <div id="login-bottom-block">   

    <div class="pure-g">
      <div class="pure-u-1-2">
        <div id="login-login" ng-class="loginBackground" class="button" ng-click="loginClick()">{{labels.login}}</div>
      </div>
      <div class="pure-u-1-2">
        <div id="login-register" ng-class="registerBackground" class="button" ng-click="registerClick()">{{labels.register}}</div>
      </div>
    </div>

    <div id="login-login-block" ng-show="showLoginForm">
      <form name="login-logn-form" class="pure-form pure-form-stacked">
        <fieldset>
          <label for="login-login-block-mail">{{labels.loginLoginLabel}}</label>
          <input id="login-login-block-mail" type="email" ng-model="loginLogin" required>
          <label for="login-login-block-passowrd">{{labels.loginPasswordLabel}}</label>
          <input id="login-login-block-passowrd" type="password" ng-model="loginPassword" required>
          <div id="login-login-button" class="button" ng-click="basicLogin()">{{labels.loginValidate}}</div>
        </fieldset>
      </form>
    </div>
    <div id="login-register-block" ng-show="showRegisterForm">
      <form name="login-register-form" class="pure-form pure-form-stacked">
        <fieldset>
          <label for="login-register-name">{{labels.registerName}}</label>
          <input id="login-register-name" type="text"  ng-model="registerName" required>
          <label for="login-register-mail">{{labels.registerMail}}</label>
          <input id="login-register-mail" type="email"  ng-model="registerMail" required>
          <label for="login-register-password">{{labels.registerPassword}}</label>
          <input id="login-register-password" type="password"  ng-model="registerPassword" required>
          <div id="login-register-button" class="button" ng-click="register()">{{labels.registerValidate}}</div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
