<div id="register" class="page">
  <img id="register-brand" src="img/Half-Grey-Logo-Shadow.png">
  <div id="register-bottom-block">
    <div id="register-login" ng-class="registerBackground" class="register-button"><span>{{labels.registerSub}}</span></div>
    <div id="register-register-block" ng-class="registerBackground">
       <form name="register-form" class="pure-form pure-form-stacked">
        <fieldset>
          <label for="register-block-mail-login">{{labels.registerMail}}</label>
          <input id="register-block-mail-login" type="email"  ng-model="registerMail" required>
          <label for="register-block-passowrd">{{labels.registerPassword}}</label>
          <input id="register-block-passowrd" type="password"  ng-model="registerPassword" required>
          <label for="register-block-passowrd">{{labels.registerConfirmPassword}}</label>
          <input id="register-block-passowrd" type="password"  ng-model="registerConfirmPassword" required>
          <label for="register-block-passowrd">{{labels.registerPseudo}}</label>
          <input id="register-block-passowrd" type="password"  ng-model="registerPseudo" required>
          <button class="pure-button" ng-click="checkRegistration()">{{labels.registerValidate}}</button>
        </fieldset>
      </form>
    </div>
  </div>

</div>
