/* fonts */
@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato-Hairline";
    src: url(../fonts/lato/Lato-Hairline.ttf);
}

@font-face {
    font-family: "Lato-Light";
    src: url(../fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-LightItalic";
    src: url(../fonts/lato/Lato-LightItalic.ttf);
}

@font-face {
    font-family: "Lato-Black";
    src: url(../fonts/lato/Lato-Black.ttf);
}

/* common to all pages  */

.page{
  width: 100%;
  height: 100%;
  font-family: "Lato-Regular", Verdana, Tahoma;
  color : grey;
}

/* login  */

#login-brand{
  text-align: center;
  margin-top: 40%;
  font-size: 22px;
  color : darkgrey;
}
#login-bottom-block{
   position: fixed;
   bottom: 0;
   width: 100%;
}

.login-button{
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-bottom: solid 1px lightgrey;
}

.login-button span{
  font-family: "Lato-LightItalic";
  float : right;
  margin-right: 40px;
}

#login-login{
  border-top: solid 1px lightgrey;
}

#login button{
  margin-left: 5%;
}

#login label{
  font-family: "Lato-LightItalic";
  margin-left: 10%;
}

#login input{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
