/* fonts */

@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Lato-Hairline";
    src: url(../fonts/lato/Lato-Hairline.ttf);
}

@font-face {
    font-family: "Lato-Light";
    src: url(../fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato-LightItalic";
    src: url(../fonts/lato/Lato-LightItalic.ttf);
}

@font-face {
    font-family: "Lato-Black";
    src: url(../fonts/lato/Lato-Black.ttf);
}

@font-face {
    font-family: "Lucida-Grande";
    src: url(../fonts/Lucida-grande/lucida-grande.ttf);
}


/* common to all pages  */

html, body {
  height: 100%;
  margin: 0;
}

.page{
  color: #34495e;
  line-height: 1.7em;
  font-family: "Lato-Light", Verdana, Tahoma !important;
  width : 100%;
  min-height : 100%;  
}

.button{
  padding: 10px;
  text-align: center;
  border: 1px solid;
  background-color: white;
  vertical-align: middle;
}

.button-sub{
  color: #999;
  font-size: 14px;
  line-height: 0.8em;
  text-align: center;
}

.top-bar{
  background-color: #e74c3c;
  color: white;
  padding : 5px;  
}

.top-bar *{
  vertical-align: middle;
}

input {
  border-radius: 0px !important;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
  }

/* login  */

#login{
  padding-top: 40%;
  color : white;
}

#login .overlay{
  z-index: -1;
  background: #ff7912; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff7912 0%, #ff600e 44%, #ff450a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7912), color-stop(44%,#ff600e), color-stop(100%,#ff450a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7912', endColorstr='#ff450a',GradientType=0 ); /* IE6-9 */
}

#login-email{
  width : 100%;
  border : none;
  height  : 40px;
  text-align: center;
}

#login-next{
  float: right;
  padding-right: 10px;
}

#login-next:hover{
   cursor: pointer;
}

/* login2  */

#login2{
  padding-top: 40%;
  color : white;
}

#login2 .overlay{
  z-index: -1;
  background: #ff7912; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff7912 0%, #ff600e 44%, #ff450a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7912), color-stop(44%,#ff600e), color-stop(100%,#ff450a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7912', endColorstr='#ff450a',GradientType=0 ); /* IE6-9 */
}

#login2-password{
  width : 100%;
  border : none;
  height  : 40px;
  text-align: center;
}

#login2-next{
  float: right;
  padding-right: 10px;
  font-family: "Lato-Light", Verdana, Tahoma !important;
}

#login2-back{
  padding-left: 10px;
  font-family: "Lato-Light", Verdana, Tahoma !important;
}

#login2-next:hover, #login2-back:hover{
   cursor: pointer;
}

#login2-email{
  text-align: left;
}

/* login3  */

#login3{
  padding-top: 40%;
  color : white;
}

#login3 .overlay{
  z-index: -1;
  background: #ff7912; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff7912 0%, #ff600e 44%, #ff450a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7912), color-stop(44%,#ff600e), color-stop(100%,#ff450a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff7912 0%,#ff600e 44%,#ff450a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7912', endColorstr='#ff450a',GradientType=0 ); /* IE6-9 */
}

#login3-nickname{
  width : 100%;
  border : none;
  height  : 40px;
  text-align: center;
}

#login3-next{
  float: right;
  padding-right: 10px;
  font-family: "Lato-Light", Verdana, Tahoma !important;
}

#login3-back{
  padding-left: 10px;
  font-family: "Lato-Light", Verdana, Tahoma !important;
}

#login3-next:hover, #login3-back:hover{
   cursor: pointer;
}

#login3-email{
  text-align: left;
}

/* Settings */

#setting-chevron{
  width : 29px;
  height : 29px;
}

#setting-logout-img, #setting-profile-img, #setting-pwd-img, #setting-picture-img, #setting-friends-img{
  width : 35px;
  height : 35px;
}

.settings-div-button:hover{
  cursor : pointer;
}

#settings label{
  font-family: "Lucida-Grande";
  margin-left: 5%;
}

#settings input{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#settings button{
  margin-left: 5%;
}

.settings-button{
  text-align: left;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #bdc3c7;
}

.settings-button div{
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
}

.settings-icon-wrapper{
  width: 35px;
  height: 35px;
}

.settings-button:hover{
  cursor: pointer;
}

.settings-darkBackground{
  border: none;
}

#settings-pwd-button, #settings-profile-button{
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  background-color: #e74c3c;
  color: #ecf0f1;
  margin-top: 15px;
}


/* FriendList */

#friendList-chevron{
  width : 29px;
  height : 29px;
}

#friendList label{
  font-family: "Lucida-Grande";
  margin-left: 5%;
}

.friendList-button{
  text-align: left;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #bdc3c7;
}
